.technologies-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.technologies-container-title-div {
  background-color: rgba(133, 149, 131, 0.192);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.technologies-container-title-div h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
