.side-bar-container {
  /* change for mobile responsive  */
  min-width: 300px;
  height: 100vh;
}
.side-bar {
  height: 100%;
  min-width: 300px;
  padding: 5px 10px;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.logo-div {
  display: flex;
  justify-content: space-around;
}
.side-bar-image {
  width: 100%;
}
.side-bar-text h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  font-size: 1rem;
  /* color: rgb(135, 132, 187); */
  color: greenyellow !important;
  background-color: black;
  font-weight: 100;
}
.side-bar-links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
.side-bar-links a {
  font-size: 1rem;
  color: rgb(64, 90, 25);
  /* color: rgb(32, 32, 32); */
}
.side-bar-links a span {
  font-size: 1.2rem;
  color: rgb(233, 85, 85);
}
.side-bar-links a:hover {
  font-weight: bold;
  color: rgb(64, 90, 25);
  /* color: rgb(252, 225, 129); */
  text-decoration-color: rgb(233, 85, 85);
  text-decoration-line: line-through;
}
.side-bar-terminal {
  padding: 5px;
  height: 300px;
  letter-spacing: 0.1rem;
  background-color: black;
  color: greenyellow !important;
}
.side-bar-terminal pre {
  color: greenyellow !important;
}
#btn-lets-talk {
  margin: 20px auto;
  text-transform: uppercase;
  color: #fff;
  border-radius: 25px;
  background-color: rgb(233, 85, 85);
  transition: background-color 0.5s;
}
#btn-lets-talk:hover {
  color: #fff;
  font-weight: bold;
  text-decoration-color: rgb(233, 85, 85);
  text-decoration-line: line-through;
  background-color: rgb(64, 90, 25);
}
